@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body{
    height: 100%;
}

#fundo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(../img/posto_gasolina.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#opacidade{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

#titulo{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    font-family: roboto;
    color: white;
}

#tabela-precos{
    width: 40%;
    float: right;
    margin-right: 30px ;
    border-radius: 0 20px 0 20px;
    background-color: rgba(0, 0, 0, .5);
}

#tabela-precos>h2{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.informativos{
    width: 50%;
    float: left;
}

.informativos>h3{
    text-align: center;
    margin: 10px;
    font-size: 25px;
    color: #ccc;
}

.informativos>p{
    margin: 0 30px 30px 30px;
    color: white;
}

#gasolina{
    border-radius: 0 0 0 20px;
    background-color: rgba(251, 255, 0, .5);
}

#alcool{
    background-color: rgba(0, 255, 0, 0.4);
}

.fomulario-compra{
    width: 50%;
    float: left;    
}

.fomulario-compra>form>h2{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.fomulario-compra>form>button{
    margin-left: 5px;
    width: max(34%, 52px);
}

#resumo{
    border-left: 1px solid white;
}

#formulario{
    width: 45%;
    float: left;
    margin: 0 30px ;
    height: 380px;
    background: rgba(0, 0, 0, .5);
    border-radius: 0 20px 0 20px; 
}

#formulario>h2{
    padding: 15px 30px;
    color: white;
}

form{
    background:rgba(0, 4, 255, 0.178);
    height: 292px;
    border-radius: 0 0 0 20px;
    padding: 25px;
}

form>label{
    color: white;
    margin: 5px;
    display: block;  
}

form>input{
    margin: 5px;
    width: 70%;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#novo-calculo{
    padding: 10px;
    margin: 20px ;
}

/*Media queries*/

@media screen and (max-width: 992px){
    .esconder{
        display: none;
    }

}




@media screen and (max-width: 768px){
    html,body{
        height: auto;
    }

    #fundo{
        position: absolute;
        width: 100%;
        
    }

    #titulo{
        font-size: 25px;
    }

    .fomulario-compra>form>button{
        font-size: 12px;
        margin-left: 5px;
        width: 47px;
    }

    form{
        padding: 15px;
    }

    .informativos>p{
        margin: 0 15px 15px 15px;
    }

}

@media screen and (max-width: 620px){
    #titulo{
        font-size: 20px;
    }

    #formulario{
        position: absolute;
        top: 360px;
        width: 95%;
        margin: 0;
        left: 2.5%;
    }

    #tabela-precos{
        position: absolute;
        width:95%;
        left: 2.5%;  
    }
}



@media screen and (max-width: 450px){
    #titulo{
        font-size: 16px;
    }
}










@media screen and (max-width: 320px){
    #titulo{
        font-size: 14px;
    }
}
